.perfil-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 2rem 0;
}

.content {
  text-align: center;
  width: 100%;
  max-width: 1400px;
  padding: 2rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h1 {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.content p {
  font-size: 1.4rem;
  color: #666;
  margin-bottom: 3rem;
}

.connections-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.expanded-details-box {
  background: #f9f9f9;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0.4;
  text-align: left;
  font-size: 1.1rem;
}

.expanded-details-box h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #0058a3;
}

.expanded-details-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Máximo 3 columnas */
  gap: 10px; /* Espaciado entre elementos */
}

.expanded-details-box li {
  font-size: 1rem;
  color: #333;
  background: #eaf4ff; /* Fondo claro */
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.expanded-details-box li:hover {
  transform: scale(1.05); /* Efecto hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.expandable-item {
  cursor: pointer;
  color: #0058a3;
  font-weight: bold;
  margin: 0.5rem 0;
  display: flex; /* Asegura que el contenido y la flecha estén alineados */
  align-items: center;
  padding-left: 190px;
}
.expandable-item .arrow {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #0058a3;
  transition: transform 0.3s ease;
}

.expandable-item[aria-expanded='true'] .arrow {
  transform: rotate(90deg);
}

.github-connection-box {
  background: #f9f9f9;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40%;
  text-align: center;
  font-size: 1.1rem;
  transition: flex 0.3s ease-in-out;
}

.github-connection-box h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #0058a3;
  text-align: center;
}

.github-connect-button:hover {
  background-color: #003e70;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.disconnect-button {
  margin-top: 1.5rem;
  background-color: #d9534f;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.disconnect-button:hover {
  background-color: #c9302c;
}

.github-info p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #333;
  padding-bottom: 10px;
}

.github-link {
  color: #0058a3;
  text-decoration: none;
  font-weight: bold;
}

.github-link:hover {
  text-decoration: underline;
}

.auth-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.auth-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.profile-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.profile-images1 {
  max-width: 13%; /* Tamaño más pequeño para que se vean bien */
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para un efecto más visual */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.profile-images2 {
  max-width: 20%; /* Tamaño más pequeño para que se vean bien */
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para un efecto más visual */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

/*TAIGA*/
.taiga-connection-box {
  background: #f9f9f9;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 48%;
  text-align: center;
  font-size: 1.1rem;
}

.taiga-connection-box h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #0058a3;
  text-align: center;
}

.normal-auth-form input[type='usuari'] {
  width: 14.84rem;
  padding: 0.74rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s ease-in-out;
}
.normal-auth-form input[type='password'] {
  width: 15rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s ease-in-out;
}
.normal-auth-form input[type='usuari']:focus,
.normal-auth-form input[type='password']:focus {
  border-color: #0058a3;
  outline: none;
}

.taiga-connect-button {
  background-color: #0058a3;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.taiga-connect-button:hover {
  background-color: #003e70;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.taiga-link {
  color: #0058a3;
  text-decoration: none;
  font-weight: bold;
}

.taiga-info p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #333;
}

.taiga-link:hover {
  text-decoration: underline;
}
