body,
html {
  overflow-x: hidden;
}

.cursos-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursos-page .content {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.cursos-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.create-course-button {
  background-color: #0056a4;
  color: white;
  border: none;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 4px;
  transition:
    background-color 0.3s ease,
    transform 0.2s;
  align-self: flex-start;
}

.create-course-button:hover {
  background-color: #2a5298;
  transform: scale(1.05);
}

.cursos-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A침adir sombra a la tabla */
}

.cursos-table th,
.cursos-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  word-wrap: break-word; /* Asegurarse de que el texto se ajuste sin desbordar */
}

.cursos-table th {
  background-color: #f8f9fa; /* Color de fondo para los encabezados */
  color: #333;
}

.clicable-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clicable-row:hover {
  background-color: #f1f1f1; /* Cambiar el color de la fila al pasar el rat칩n */
}

.toggle-inactive-courses {
  color: #0056a4;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-inactive-courses:hover {
  text-decoration: underline;
}

/* Estilo responsivo para pantallas peque침as */
@media (max-width: 768px) {
  .cursos-page .content {
    padding: 10px;
  }

  .cursos-table th,
  .cursos-table td {
    padding: 8px;
    font-size: 14px;
  }

  .create-course-button {
    font-size: 13px;
    padding: 6px 12px; /* Reducir el padding para mejorar en pantallas peque침as */
  }
}
