.perfil-page {
  display: flex;
  flex-direction: column;
}

.top-bar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.content {
  margin-left: 250px;
  margin-top: 60px;
  padding: 2rem;
  width: calc(100% - 250px);
  transition: margin-left 0.3s;
}

.sidebar.closed + .content {
  margin-left: 80px;
  width: calc(100% - 80px);
}

.github-connection-box {
  background: rgba(0, 88, 163, 0.1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 4rem;
  text-align: center;
  width: 300px;
  height: 220px;
  margin-left: 10%;
}

.github-message {
  font-size: 18px;
  color: #0058a3;
  margin-bottom: 2.5rem;
}

.github-connect-button {
  background-color: #0058a3;
  color: white;
  padding: 1.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.github-connect-button:hover {
  background-color: #003e70;
}
